{% block google_marker_widget %}
    {% spaceless %}
        <div id="{{ id }}_map" class="gmap" style="width: {{ map_width }}; height: {{ map_height }}"></div>
        <div id="{{ id }}_error"></div>

        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}

        <script>
            function initMap() {
                var map = new google.maps.Map(document.getElementById('{{ id }}_map'), {
                    zoom: 16,
                    center : {lat: {{ attribute(value, "latitude") }}, lng: {{ attribute(value, "longitude") }} },
                    mapTypeId: 'terrain'
                });

                var marker = new google.maps.Marker({
                    position: {lat: {{ attribute(value, "latitude") }}, lng: {{ attribute(value, "longitude") }} },
                    map: map
                });

                google.maps.event.addListener(map, 'click', function(event) {
                    marker.setPosition(event.latLng);
                    document.getElementById("{{ id }}_latitude").value = "" + event.latLng.lat();
                    document.getElementById("{{ id }}_longitude").value = "" + event.latLng.lng();
                });

            }
        </script>

        {% block google_marker_javascripts %}
            <script type="text/javascript" src="//maps.google.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
        {% endblock %}
    {% endspaceless %}
{% endblock %}

{% block google_route_widget %}
    {% spaceless %}
        <div id="{{ id }}_map" class="gmap" style="width: {{ map_width }}; height: {{ map_height }}"></div>
        <div id="{{ id }}_error"></div>

        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}

        <script>

            var editable = {{ editable }};
                console.log(editable);

            function initMap() {



                var deleteMode = false;

                function DeleteMenu() {
                    this.div_ = document.createElement('div');
                    this.div_.className = 'delete-menu';
                    this.div_.innerHTML = 'Delete';

                    var menu = this;
                    google.maps.event.addDomListener(this.div_, 'click', function() {
                        deleteMode = true;
                        menu.removeVertex();
                    });
                }

                DeleteMenu.prototype = new google.maps.OverlayView();

                DeleteMenu.prototype.onAdd = function() {
                    var deleteMenu = this;
                    var map = this.getMap();
                    this.getPanes().floatPane.appendChild(this.div_);

                    // mousedown anywhere on the map except on the menu div will close the
                    // menu.
                    this.divListener_ = google.maps.event.addDomListener(map.getDiv(), 'mousedown', function(e) {
                      if (e.target != deleteMenu.div_) {
                        deleteMenu.close();
                      }
                    }, true);
                };

                DeleteMenu.prototype.onRemove = function() {
                    google.maps.event.removeListener(this.divListener_);
                    this.div_.parentNode.removeChild(this.div_);

                    // clean up
                    this.set('position');
                    this.set('path');
                    this.set('vertex');
                };

                DeleteMenu.prototype.close = function() {
                    this.setMap(null);
                };

                DeleteMenu.prototype.draw = function() {
                    var position = this.get('position');
                    var projection = this.getProjection();

                    if (!position || !projection) {
                        return;
                    }

                    var point = projection.fromLatLngToDivPixel(position);
                    this.div_.style.top = point.y + 'px';
                    this.div_.style.left = point.x + 'px';
                };

                /**
                 * Opens the menu at a vertex of a given path.
                 */
                DeleteMenu.prototype.open = function(map, path, vertex) {
                    this.set('position', path.getAt(vertex));
                    this.set('path', path);
                    this.set('vertex', vertex);
                    this.setMap(map);
                    this.draw();
                };

                /**
                 * Deletes the vertex from the path.
                 */
                DeleteMenu.prototype.removeVertex = function() {
                    var path = this.get('path');
                    var vertex = this.get('vertex');

                    if (!path || vertex == undefined) {
                        this.close();
                        return;
                    }

                    path.removeAt(vertex);
                    this.close();

                    var value = [];
                    path.forEach(function(elem) {
                        value.push({
                            lat: elem.lat(),
                            lng: elem.lng()
                        });
                    });

                    document.getElementById("{{ id }}_route").value = JSON.stringify(value);
                };

                var map = new google.maps.Map(document.getElementById('{{ id }}_map'), {
                    zoom: 2,
                    center : {lat: 42.226847, lng: 2.276144 },
                    mapTypeId: 'terrain'
                });

                var routePoints = {{ attribute(value, "path") | json_encode | raw }};

                var route = new google.maps.Polyline({
                    path: routePoints,
                    geodesic: true,
                    editable: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 5
                });

                route.setMap(map);


                var deleteMenu = new DeleteMenu();

                google.maps.event.addListener(route, 'rightclick', function(e) {
                    // Check if click was on a vertex control point
                    if (e.vertex == undefined) {
                        return;
                    }
                    deleteMenu.open(map, route.getPath(), e.vertex);
                });

                google.maps.event.addListener(map, 'click', function(event) {
                    if (deleteMode) {
                        deleteMode = false;
                        return;
                    }
                    route.getPath().push(new google.maps.LatLng(event.latLng.lat(), event.latLng.lng() ));

                    var path = route.getPath();
                    var value = [];

                    path.forEach(function(elem) {
                        value.push({
                            lat: elem.lat(),
                            lng: elem.lng()
                        });
                    });

                    document.getElementById("{{ id }}_route").value = JSON.stringify(value);
                });

                google.maps.event.addListener(route, 'mouseup', function(e) {

                    setTimeout(function() {
                        var path = route.getPath();
                        var value = [];

                        path.forEach(function(elem) {
                            value.push({
                                lat: elem.lat(),
                                lng: elem.lng()
                            });
                        });

                        document.getElementById("{{ id }}_route").value = JSON.stringify(value);
                    }, 100)
                });
            }
        </script>

        {% block google_route_javascripts %}
            <script type="text/javascript" src="//maps.google.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
        {% endblock %}
        {% block google_route_stylesheets %}
            <style>
                html, body {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }
                #map {
                    height: 100%;
                }
                .delete-menu {
                    position: absolute;
                    background: white;
                    padding: 3px;
                    color: #666;
                    font-weight: bold;
                    border: 1px solid #999;
                    font-family: sans-serif;
                    font-size: 12px;
                    box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
                    margin-top: -10px;
                    margin-left: 10px;
                    cursor: pointer;
                }
                .delete-menu:hover {
                    background: #eee;
                }
            </style>
        {% endblock %}
    {% endspaceless %}
{% endblock %}


{% block image_file_widget %}
    {% spaceless %}
        <img id="{{ id }}_preview" src="/{{ attribute(value, "path") }}" height="200" accept="image/x-png, image/gif, image/jpeg">
        <div id="{{ id }}_container">
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
        </div>

        <script>
            (function () {
                var input = document.getElementById('{{ id }}_image');
                var preview = document.getElementById('{{ id }}_preview');

                input.addEventListener('change', function(event) {
                    var file = event.target.files[0];
                    if (file) {
                        if (file.type.startsWith("image/")) {
                            if (file.size > 2000000) {
                                input.value = "";
                                alert("La imatge és massa gran");
                            } else {
                                var reader = new FileReader();
                                reader.readAsDataURL(file);
                                reader.addEventListener('load', function(event) {
                                    preview.src = event.target.result;
                                });
                            }
                        } else {
                            input.value = "";
                            alert("Not an image file");
                        }
                    }
                }, false)
            })();
        </script>
    {% endspaceless %}
{% endblock %}