{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    {% set id = field_description.name %}

    <div id="{{ id }}_container">
        <div id="{{ id }}_map" class="gmap" style="width: 100%; height: 400px"></div>
    </div>
    <script>
        console.log(document.getElementById('{{ id }}_map'));
        function initMap_{{ id }}() {
            var map = new google.maps.Map(document.getElementById('{{ id }}_map'), {
                zoom: 16,
                center : {lat: {{ value.latitude }}, lng: {{ value.longitude }} },
                mapTypeId: 'terrain'
            });

            var marker = new google.maps.Marker({
                position: {lat: {{ value.latitude }}, lng: {{ value.longitude }} },
                map: map
            });
        }
    </script>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap_{{ id }}"></script>
{% endblock %}
