{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% set id = object.id %}

    <div id="{{ id }}_container">
        <a href="/admin/app/pointofinterest/{{ id }}/show">lat : {{ value.latitude }} <br> long : {{ value.longitude }}</a>
    </div>
{% endblock %}
